<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Fill the form</h1>
    <form method = 'POST' action ='/submit'>
        <label for = "name">Name</label>
        <input type = text name = name>
        <label for = "date">Dob</label>
        <input type = date name = date>
        <label for = "gender">Gender</label>
        <input type = radio name = Male value = Male>Male
        <input type = radio name = Female value = Female>Female
        <button onclick ="/submit">submit</button>

</body>
</html>
